* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  /* background: #eee; */
  padding: 0 16px;
}

header {
  background-color: #CFFF45;
  margin: auto -16px;
  padding: 16px 32px;
  border-bottom: 1px solid black;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */
}

header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
}

.icon {
  width: 200px;
}

.note {
  background: #E5E5E5;
  /* border-radius: 7px; */
  /* box-shadow: 0 2px 5px #ccc; */
  padding: 10px;
  flex: 20%; /* Initial width set to 20% */
  max-width: calc(20% - 32px); /* Ensures width remains 20% - padding  */
  margin: 16px;
  float: left;
  border: 1px solid black;
  /* transition: height 0.2s ease-out; */
  box-shadow: 2px 2px 0px black;
}
.note h1 {
  font-size: 1.3em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note input, .note textarea {
  width: 100%;
  border: none;
  /* padding: 4px; */
  outline: none;
  font-family: inherit;
  resize: none;
  color: #757575;
}

.note input {
  font-size: 1.3em;
  margin-bottom: 6px;
}

.note textarea {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: black;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: #E5E5E5;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  /* border-radius: 7px; */
  border: 1px solid black;
  box-shadow: 7px 7px 0px #CFFF45;
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-family: inherit;
  resize: none;
}
form.create-note input {
  font-size: 1.3em;
}
form.create-note textarea {
  font-size: 1em;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: black;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
