* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  padding: 0 16px;
}

header {
  background-color: #cfff45;
  margin: auto -16px;
  padding: 16px 32px;
  border-bottom: 1px solid black;
}

header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.note {
  background: #e5e5e5;
  border-radius: 0.25rem;
  padding: 10px;
  flex: 20%; /* Initial width set to 20% */
  max-width: calc(20% - 32px);
  margin: 16px;
  float: left;
  border: 1px solid black;
  box-shadow: 2px 2px 0px black;
  min-height: 150px;
  position: relative;
}
.note h1 {
  font-size: 1.3em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note input,
.note textarea {
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  resize: none;
  color: #757575;
  background-color: #e5e5e5;
}

.note input {
  font-size: 1.3em;
  margin-bottom: 6px;
}

.note textarea {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note .buttons, .btn-done {
  /* float: right; */
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.note button {
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #cfff45;
  border: 1px solid black;
  padding: 6px 8px;
}

/* .btn-done {
  position: absolute;
  right: 20px;
  bottom: 20px;
} */

.note button:nth-of-type(2) {
  margin-left: 10px;
}

form.create-note {
  position: relative;
  width: 35%;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 0.25rem;
  border: 1px solid black;
  box-shadow: 7px 7px 0px #cfff45;
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-family: inherit;
  resize: none;
}
form.create-note input {
  font-size: 1.3em;
}
form.create-note textarea {
  font-size: 1em;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: 18px;
  background: black;
  border-radius: 0px;
  color: #fff;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 10px lightgray;
}

@media screen and (max-width: 768px) {
  form.create-note {
    width: 90%;
  }

  .main-content {
    display: block;
    width: 100%;
  }

  .note {
    max-width: 90%;
    margin: 0px auto;
    float: none;
  }
}
